@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


* {
    box-sizing: border-box !important;
    transition: ease all 0.1s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #0094FF;
    text-decoration: none;
    outline: none !important;
	font-size: 16px;
}

a:hover {
    color: #8B9856;
    text-decoration: underline;
}


img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}




.fixed-column {
    width: 250px;	
	display: flex;
	justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 100%;  /* Ensures it takes full height of the row */
}

.flex-column {
    flex: 1;    
}

.row {
    display: flex;
    align-items: center; /* Ensures vertical centering of both columns */
}


.image {
    display: block;
    width: 100%;
    height: auto;
}

img.image {
    min-height: 30px;
}


.app-img {
	width: 128px !important;
	height: 128px !important;
    transform: none !important;
    zoom: 1 !important;
	max-width: 128px !important;
    max-height: 128px !important;
	min-width: 128px !important;
    min-height: 128px !important;
	display: block;
}



.container_main {
    position: relative;
}



.text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}



.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}



/* ------------------------------------------------------------------------ header */

.header_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
}

.header_main {
    width: 100%;
    float: left;
    padding: 20px;
}

.header_title {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #FABE53;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------ intro */

.intro_section {
    width: 100%;
    float: left;
}

.intro_main {
    width: 100%;
    float: left;
    padding: 90px 0px;	
}

.intro_title {
    width: 100%;
    float: left;
    font-size:30px;
    color: #8B9856;
    font-weight: bold;
    text-transform: uppercase;	
	text-align: center;
}

/* ------------------------------------------------------------------------ app */

.app_section {
    width: 100%;
    float: left;
}

.app_section_title {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    color: #FABE53;
    font-weight: bold;
}

.app_main {
    width: 100%;
    float: left;
    padding: 20px 0px;	
}

.app_section_title {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    color: #FABE53;
    font-weight: bold;
}

.app_title {
    width: 100%;
    float: left;
	font-size:25px;
    color: #8B9856; 
	font-weight: bold;
}

.app_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4c4c4b;
    margin: 0px;
    padding-top: 10px;
}


/* ------------------------------------------------------------------------ footer */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding: 45px 0px;
}


.footer_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
	text-align: center;
}


.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #252525;
}

.copyright_text a:hover {
    color: #f76d37;
}

